.voting-platform-wrapper {

    .voting-platform {
        border-radius: 10px;
        width: rem(700px);
        height: 80vh;
        background-color: white;
        transform: scale(0);
        text-align: center;
        padding: 0 rem(20px);
        overflow-y: scroll;
        display: flex;
        flex-direction: column;

        .close-button {
            position: absolute;
            width: 30px;
            height: 30px;
            left: rem(20px);
            top: rem(20px);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $border_clr;
                cursor: pointer;
            }

            transition: all ease 0.3s;
        }

        .h2-wrapper {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end;

            p {
                margin: 0;
                margin-top: rem(30px);
                position: relative;
                font-size: rem(40px);
                height: rem(50px);
                width: 272px;
                display: flex;
                text-align: center;
                // justify-content: center;
                // align-items: flex-end;
                overflow-x: hidden;

                span {
                    position: absolute;
                    font-size: 40px;
                    line-height: 40px;
                    height: 60px;
                    transition: all ease 0.3s;

                }

                span:first-of-type {
                    transform: translateX(-100%);

                    &.open {
                        transform: translateX(0)
                    }
                }

                span:last-of-type {
                    transform: translateX(101%);

                    &.open {
                        transform: translateX(0)
                    }
                }

            }
        }

        &.open {
            transform: scale(1);
        }

        &.started {
            height: 60%;
        }

        transition: all ease 0.5s;

        .voting-introduction {
            height: 90%;
            transition: all ease 0.5s;
            // transition-delay: 0.5s;

            &.close {
                transform: scale(0);
                height: 0;
                transition: all ease 0.3s;
            }


            button {
                color: brown;
                transition: 0.25s;

                &:hover,
                &:focus {
                    border-color: #4fd228;
                    color: #fff;
                }

                border: 2px solid;
                font: inherit;
                line-height: 1;
                margin: 0.5em;
                padding: 1em 2em;

                &:hover,
                &:focus {
                    box-shadow: inset 0 0 0 2em #4fd228;
                }


            }

        }

        .voting-area {
            opacity: 0;
            transform: scale(0);
            display: flex;
            flex-direction: column;

            &.open {
                // height: 90%;
                flex-grow: 1;
                opacity: 1;
                transform: scale(1);
            }

            .questions-wrapper {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .questions {
                    position: relative;
                    width: 100%;
                    height: 100px;
                    margin-top: rem(40px);
                    overflow-y: hidden;
                    // display: flex;
                    // flex-direction: column;
                    gap: 100px;

                    .voting-buttons {

                        flex-grow: 1;
                        position: absolute;
                        top: 0;
                        transform: translateY(-200%);
                        transition: all ease 0.9s;

                        // margin-top: rem(100px);
                        &.show {
                            transform: translateY(0);
                            transition: all ease 0.4s
                        }

                        button {
                            @include button;
                            margin: 0 rem(100px);
                        }
                    }
                }

                transition: all ease 0.3s;
                transition-delay: 0.5s;

            }

            .voting-platform-action-buttons {
                justify-self: flex-end;
                display: flex;
                justify-content: space-between;
                padding-bottom: rem(20px);

                button {
                    @include button
                }
            }
        }
    }
}