header {
    padding: 20px 20px;

    &:hover {
        box-shadow: -1px -1px 3px 1px;
    }

    transition: all ease 0.2s;

    nav {
        a {
            padding-inline-start: 20px;
            font-weight: 600;

            &:hover {
                color: $border-clr;

            }

            transition: all ease 0.3s;
        }
    }

    margin-bottom: rem(80px);
}